<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vrcorp.mobilelearning_teori_kinetik_gas"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.TesActivity"></activity>
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.LatihanSoal" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.LatihanList" />
        <activity android:name=".materi.MekanismePendengaran" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.MateriListActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.TentangActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.PetaKonsepActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.KompetensiActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.PetunjukActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.MainActivity" />
        <activity android:name="com.vrcorp.mobilelearning_teori_kinetik_gas.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>